:root {
  font-size: 10px;
  background-color: #e4e5ed;
  overflow-y: scroll;
}

body {
  box-sizing: border-box;
  margin: 0;
  font: 1.6rem/1.5 'SUIT Variable', sans-serif;

  /* CSS 중첩 규칙(Nesting Rules) */
  & * {
    box-sizing: inherit;
  }
}

img {
  vertical-align: middle;
}

button {
  cursor: pointer;
  font-size: 1.6rem; /* 16px */

  &:disabled {
    cursor: not-allowed;
  }
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}

[hidden] {
  display: none !important;
}

.primary {
  padding: 20px;
}